{% extends 'base.html.twig' %}

{% block title %}Le Troc de Graines{% endblock %}

{% block body %}

<span class="big-letter">{{ clickedLetter|upper }}</span>

<div class="columns">
      
    {% for i in 0..2 %}
        <div class="column is-3">
            <ul>
            {% for variete in varietes %}
                    <li><a href="">{{ variete.nom }}</a></li>
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
{% endblock %}
    