{# alphabetical_pagination = nom de la route dans le fichier contrôleur #}
{# 'letter' : letter = le 1er est l'argument que tu passes à l'url, le 2ème est l'index de la lettre courante dans ta boucle #}
{# letter|upper = la lettre courante en majuscule #}
<p>Lettre cliquée :{{ clickedLetter|upper }}</p>
{# La lettre cliquée (renvoyée par le contrôleur) en majuscule #}
    </div>
</div>