
    <div class="columns">
        <div class="column">
            <a class="link-logo" href="{{ path('home') }}"><div class="logo">Kupali</a><span class="slogan">Le temps que ça pousse</span></div>
        </div>
        <div class="column mt-6">
            <div class="buttons is-right">
                <a class="button connexion">Connexion</a>
            </div>
        </div>
    </div>
    <nav class="navbar mt-5" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="true" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a href="{{ path('home') }}">
                    <img class="seed-of-life" src="https://img.icons8.com/carbon-copy/100/000000/seed-of-life.png"/>
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                
                    <a class="navbar-link">
                    Nos Graines
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                        Par famille
                        </a>
                        <a class="navbar-item">
                        Par Genre
                        </a>
                        <a class="navbar-item">
                        Par Espèce
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </nav>
    <div class="alphabetic-letter has-text-centered mt-3">
         
        {# Dans ta vue Twig #}
        {% for letter in 'a'..'z' %}
            <a class="alphabet" href="{{ path('alphabetical_pagination', {'letter' : letter}) }}">{{ letter|upper }}</a>
        {% endfor %}
    </div> 
{% block javascripts %}

<script src="js/main.js"></script>
{% endblock %}