<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}Kupali-Troc de Graines{% endblock %}
    {% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Halant|Montserrat:700|Satisfy" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link href="css/style.css" rel="stylesheet">
    {% endblock %}
  </head>
    <body>
        <div class="container">
            <div class="logo">Kupali<span class="slogan">Le temps que ça pousse</span></div>
            
            <nav class="navbar box" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    </a>
                </div>
                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                            Nos Graines
                            </a>
                            <div class="navbar-dropdown">
                                <a class="navbar-item">
                                Par famille
                                </a>
                                <a class="navbar-item">
                                Par Genre
                                </a>
                                <a class="navbar-item">
                                Par Espèce
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="buttons">
                                <a class="button color-green">
                                    <strong class="connexion">Connexion</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
                <div class="letter mt-6 has-text-centered">
                    {% for letter in 'a'..'z' %}
                        * {{ letter }}
                    {% endfor %}
                </div>
        </div>
        
    {% block body %}
       
    {% endblock %}
    </body>
</html> 

